<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AS Artist Root URL</key>
    <string>http://www.last.fm/music/</string>
    
    <key>AS Artist-Track Path Separator</key>
    <string>/_/</string>
    
    <key>ASS URL</key>
	<string>http://wsdev.audioscrobbler.com/ass/</string>
    
	<key>Number of Songs to Save</key>
	<integer>5</integer>
    
    <key>Log Level</key>
	<string>VERB</string>
    
    <key>Artist Detail</key>
    <true />
    
    <key>Sync iPod</key>
    <true />
    
    <key>iPod Submission Playlist</key>
    <string>Recently Played</string>
    
    <key>Disable Update Notification</key>
    <false />
    
    <key>Use Batch Submission</key>
    <true />
    
    <key>Shared Music Submission</key>
    <true />
    
    <key>Display Control Menu</key>
    <true/>
    
    <key>IgnoreNetworkMonitor</key>
    <false />
    
    <key>IgnoreArtwork</key>
    <false />
    
    <key>IgnorePodcasts</key>
    <false />
    
	<key>url</key>
	<string>http://post.audioscrobbler.com/</string>
    
    <key>WS URL</key>
	<string>http://ws.audioscrobbler.com/1.0/</string>
        
	<key>clientid</key>
	<string>osx</string>
	
	<key>protocol</key>
	<string>1.1</string>
        
	<key>useragent</key>
	<string>Mozilla/5.0 (Macintosh; U; -arch- Mac OS X; compatible) iScrobbler/1.2.1</string>
        
	<key>username</key>
	<string></string>
        
	<key>version</key>
	<string>1.2.1</string>
        
</dict>
</plist>
