<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Audion</key>
	<false/>
        
        <key>iTunes</key>
	<true/>
        
        <key>debug</key>
	<true/>
        
	<key>Number of Songs to Save</key>
	<integer>5</integer>
    
    <key>Log Level</key>
	<string>VERB</string>
    
    <key>Sync iPod</key>
    <integer>1</integer>
    
    <key>Disable Update Notification</key>
    <integer>0</integer>
    
    <key>Use Batch Submission</key>
    <integer>1</integer>
    
    <key>Shared Music Submission</key>
    <integer>1</integer>
    
	<key>url</key>
	<string>http://post.audioscrobbler.com/</string>
        
	<key>clientid</key>
	<string>osx</string>
	
	<key>protocol</key>
	<string>1.1</string>
        
	<key>useragent</key>
	<string>Mozilla/4.5 (compatible; iScrobbler/0.8.0; Mac_PowerPC)</string>
        
	<key>username</key>
	<string></string>
        
	<key>version</key>
	<string>0.8.0</string>
        
</dict>
</plist>
