<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AS Artist Root URL</key>
    <string>http://www.last.fm/music/</string>
    
    <key>AS Artist-Track Path Separator</key>
    <string>/_/</string>
    
    <key>ASS URL</key>
	<string>http://ws.audioscrobbler.com/ass/</string>
    
    <key>AutoTuneLastRadioStation</key>
    <false />
    
    <key>AutoTagLovedBanned</key>
    <false />
    
    <key>AutoLoveTracksRatedHigherThan</key>
    <integer>1000000</integer>
    
	<key>Number of Songs to Save</key>
	<integer>5</integer>
    
    <key>Log Level</key>
	<string>VERB</string>
    
    <key>Artist Detail</key>
    <true />
    
    <key>CheckForFileMBIDs</key>
    <true />
    
    <key>Disable Local Lists</key>
    <false />
    
    <key>ForcePlayCache</key>
    <false />
    
    <key>GrowlPlays</key>
    <true />
    
    <key>GrowlOnResume</key>
    <false />
    
    <key>GrowlPlayTitle</key>
    <string>%t (%d)</string>
    
    <key>GrowlPlayFormat</key>
    <string>%a%n%A%n%r</string>
    
    <key>GrowlLastFMCommunications</key>
    <false />
    
    <key>MenuNPInfoDelay</key>
    <integer>1000</integer>
    
    <key>Sync iPod</key>
    <true />
    
    <key>iPod Submission Playlist</key>
    <string>Recently Played</string>
    
    <key>QueueSubmissionsIfiPodIsMounted</key>
    <true />
    
    <key>Disable Update Notification</key>
    <false />
    
    <key>Use Batch Submission</key>
    <true />
    
    <key>Shared Music Submission</key>
    <true />
    
    <key>Display Control Menu</key>
    <true/>
    
    <key>IgnoreNetworkMonitor</key>
    <false />
    
    <key>IgnoreArtwork</key>
    <false />
    
    <key>IgnorePodcasts</key>
    <false />
    
    <key>Now Playing Detail</key>
    <true />
    
    <key>RadioStationHistory</key>
    <array>
    </array>
    
	<key>url</key>
	<string>http://post.audioscrobbler.com/</string>
    
    <key>WS URL</key>
	<string>http://ws.audioscrobbler.com/1.0/</string>
    
    <key>WS ROOT</key>
	<string>http://ws.audioscrobbler.com/</string>
    
    <key>RadioPlaysScrobbled</key>
    <true />
    
	<key>clientid</key>
	<string>osx</string>
	
	<key>protocol</key>
	<string>1.2</string>
        
	<key>useragent</key>
	<string>Mozilla/5.0 (Macintosh; U; -arch- Mac OS X; compatible) iScrobbler/2.0</string>
        
	<key>username</key>
	<string></string>
        
	<key>version</key>
	<string>2.0</string>
</dict>
</plist>
