<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBNetUpdateVersion</key>
    <string>1.5.1</string>
    <key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>iScrobbler</string>
	<key>CFBundleGetInfoString</key>
	<string>1.5.1</string>
	<key>CFBundleIconFile</key>
	<string>iscrobbler</string>
	<key>CFBundleIdentifier</key>
	<string>org.bergstrand.iscrobbler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iScrobbler</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>svn</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.3.9</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
    <key>NSAppleScriptEnabled</key>
    <string>NO</string>
</dict>
</plist>
