<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Hash</key>
        <dict>
        	<key>SHA1</key>
        	<string></string>
        </dict>
        <key>Version</key>
        <string>1.5.1b1</string>
        <key>File</key>
        <string>http://www.bergstrand.org/brian/software/bin/iscrobbler.1.5.1b1.dmg</string>
        <key>Notes</key>
        <dict>
                <key>English</key>
                <string>- New Local Profile Chart: Top Hours
- Growl iPod sync notification
- Growl play notifications will be coalesced if multiples are on screen
- Minor bug fixes
                </string>
        </dict>
</dict>
</plist>
