<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Hash</key>
        <dict>
        	<key>SHA1</key>
        	<string></string>
        </dict>
        <key>Version</key>
        <string>2.1.0b2</string>
        <key>File</key>
        <string>http://www.bergstrand.org/brian/software/bin/iscrobbler.2.1.0b2.dmg</string>
        <key>MinFoundationVer</key>
        <real>567.28</real>
        <key>MinSysVer</key>
        <string>10.4.9</string>
        <key>Notes</key>
        <dict>
			<key>English</key>
			<string>- Leopard only: new Profile stat - per-session new artists.
- The complete play history can be viewed for tracks in the Local Charts.
- The Statistics window is gone. Everything it did was available elsewhere.
- Artist Details are now displayed in separate windows instead of drawers.
- Radio controls are disabled while waiting for a response from Last.fm.
- Added 'skip current track' Applescript command.
- Bug Fixes for ApplesScript on Leopard, Radio, and iTunes import.
		</string>
        </dict>
</dict>
</plist>
