<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Hash</key>
        <dict>
        	<key>SHA1</key>
        	<string>d110bd04182b7589d563089bba04c18886a57ccc</string>
        </dict>
        <key>Version</key>
        <string>2.0.0a6</string>
        <key>File</key>
        <string>http://www.bergstrand.org/brian/software/bin/iscrobbler.2.0.0a6.dmg</string>
        <key>Notes</key>
        <dict>
                <key>English</key>
                <string>- New local charts. They look the same, but there are now multiple separate charts maintained.
- Multiple iPod play support.
- New plugin to change the iChat status message to the currently playing Radio track.
- New Applescript commands.
- Other minor new features and bug fixes.
- a5 fixes a crash in the iTunes library import.
- a6 fixes a crash when syncing an iPod.
                </string>
        </dict>
</dict>
</plist>
